body {
    margin: 0 0;
}

.nav {
    text-align: center;
}

.nav ul {
    margin: 0 auto;
}

.nav ul li {
    display: inline-block;
    padding: 0 20px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.8em;
}

.hero {
    background-image: url("../img/thaillande_hero.jpeg");
    background-position: bottom;
    padding: 150px 0;
    margin-bottom: 10em;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: white;
}

.cadre.article {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.cadre img {
    max-height: 200px;
    max-width: 300px;
}

.nom {
    font-size: 3em;
}
.info {
    font-size: 1.3em;
}

.price {
    font-size: 2em;
    text-align: center;
}

.price_text {
    display: block;
    font-size: 1em;
}

.priceSomme {
    text-align: center;
    font-size: 2em;

}

footer {
    padding: 70px 0;
    background-color: #2068bb;
}

footer ul {
    text-align: center;
    list-style: none;
}
footer ul li {
    color: white;
    font-size: 1.2em;
    padding: 10px 0;
}

/*                                                             
                       Formulaire                              
*/                                                             
.input_float{
    position: fixed;
    left: 700px;
    top: 500px;
}

.emptyPanier .returnCat{
    text-decoration: none;
    font-size: 3em;
    text-align: center;
}
.emptyPanier .returnCat a{
    text-decoration: none;
    color: black;
}
.boiteForm .errorForm {
    color: red;
    font-size: 1.4em;
    font-weight: bold;
}
.b_quantity{
    margin-bottom: 10px;
}
form {
    text-align: center;
    margin-bottom: 3em;
}

form .boiteForm {
    margin-bottom: 2em;
}

form .locationFrom, .pictForm, .priceFrom {
    display: block;
}

form label {
    margin-bottom: 1em;
    font-size: 2em;
}

form .checkBox {
}

form input {
    padding: 10px 10px;
}

